# Created with package:mono_repo v2.3.0
language: dart

# Custom configuration
sudo: required
addons:
  chrome: stable
before_install:
  - tool/travis_setup.sh
after_failure:
  - tool/report_failure.sh

jobs:
  include:
    - stage: analyze_and_format
      name: "SDK: dev; PKGS: _test, _test_common; TASKS: `dartanalyzer --fatal-infos --fatal-warnings .`"
      dart: dev
      os: linux
      env: PKGS="_test _test_common"
      script: ./tool/travis.sh dartanalyzer_0
    - stage: analyze_and_format
      name: "SDK: dev; PKGS: build, build_config, build_daemon, build_modules, build_resolvers, build_runner, build_runner_core, build_test, build_vm_compilers, build_web_compilers, example, scratch_space; TASKS: [`dartfmt -n --set-exit-if-changed .`, `dartanalyzer --fatal-infos --fatal-warnings .`]"
      dart: dev
      os: linux
      env: PKGS="build build_config build_daemon build_modules build_resolvers build_runner build_runner_core build_test build_vm_compilers build_web_compilers example scratch_space"
      script: ./tool/travis.sh dartfmt dartanalyzer_0
    - stage: analyze_and_format
      name: "SDK: 2.7.0; PKGS: build, build_config, build_daemon, build_resolvers, build_runner_core, build_test, build_vm_compilers; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.7.0"
      os: linux
      env: PKGS="build build_config build_daemon build_resolvers build_runner_core build_test build_vm_compilers"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: analyze_and_format
      name: "SDK: 2.8.0-dev.10.0; PKGS: build_modules, build_web_compilers; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.8.0-dev.10.0"
      os: linux
      env: PKGS="build_modules build_web_compilers"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: analyze_and_format
      name: "SDK: 2.6.0; PKG: scratch_space; TASKS: `dartanalyzer --fatal-warnings .`"
      dart: "2.6.0"
      os: linux
      env: PKGS="scratch_space"
      script: ./tool/travis.sh dartanalyzer_1
    - stage: unit_test
      name: "SDK: dev; PKG: _test; TASKS: [`pub run build_runner test -- -p chrome --test-randomize-ordering-seed=random`, `pub run build_runner test -- -p vm test/configurable_uri_test.dart --test-randomize-ordering-seed=random`]"
      dart: dev
      os: linux
      env: PKGS="_test"
      script: ./tool/travis.sh command_0 command_1
    - stage: unit_test
      name: "SDK: dev; PKG: _test; TASKS: [`pub run build_runner test -- -p chrome --test-randomize-ordering-seed=random`, `pub run build_runner test -- -p vm test/configurable_uri_test.dart --test-randomize-ordering-seed=random`]"
      dart: dev
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh command_0 command_1
    - stage: unit_test
      name: "SDK: dev; PKG: build; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build"
      script: ./tool/travis.sh command_2
    - stage: unit_test
      name: "SDK: dev; PKG: build; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build"
      script: ./tool/travis.sh command_2
    - stage: unit_test
      name: "SDK: dev; PKG: build_config; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_config"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_config; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_config"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_daemon; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_daemon"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_daemon; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_daemon"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_modules; TASKS: `dart $(pub run build_runner generate-build-script) test --delete-conflicting-outputs -- -P presubmit --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_modules"
      script: ./tool/travis.sh command_4
    - stage: unit_test
      name: "SDK: dev; PKG: build_modules; TASKS: `dart $(pub run build_runner generate-build-script) test --delete-conflicting-outputs -- -P presubmit --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_modules"
      script: ./tool/travis.sh command_4
    - stage: unit_test
      name: "SDK: dev; PKG: build_resolvers; TASKS: [`pub run build_runner test -- --test-randomize-ordering-seed=random`, `test/flutter_test.sh`]"
      dart: dev
      os: linux
      env: PKGS="build_resolvers"
      script: ./tool/travis.sh command_2 command_5
    - stage: unit_test
      name: "SDK: dev; PKG: build_resolvers; TASKS: [`pub run build_runner test -- --test-randomize-ordering-seed=random`, `test/flutter_test.sh`]"
      dart: dev
      os: windows
      env: PKGS="build_resolvers"
      script: ./tool/travis.sh command_2 command_5
    - stage: unit_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -x integration --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_06
    - stage: unit_test
      name: "SDK: 2.7.0; PKG: build_runner_core; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: "2.7.0"
      os: linux
      env: PKGS="build_runner_core"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: 2.7.0; PKG: build_runner_core; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: "2.7.0"
      os: windows
      env: PKGS="build_runner_core"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_runner_core; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner_core"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_runner_core; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_runner_core"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_test; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_test"
      script: ./tool/travis.sh command_2
    - stage: unit_test
      name: "SDK: dev; PKG: build_test; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_test"
      script: ./tool/travis.sh command_2
    - stage: unit_test
      name: "SDK: dev; PKG: build_vm_compilers; TASKS: `pub run test`"
      dart: dev
      os: linux
      env: PKGS="build_vm_compilers"
      script: ./tool/travis.sh test_05
    - stage: unit_test
      name: "SDK: dev; PKG: build_vm_compilers; TASKS: `pub run test`"
      dart: dev
      os: windows
      env: PKGS="build_vm_compilers"
      script: ./tool/travis.sh test_05
    - stage: unit_test
      name: "SDK: dev; PKG: build_web_compilers; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_web_compilers"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: build_web_compilers; TASKS: `pub run test --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="build_web_compilers"
      script: ./tool/travis.sh test_12
    - stage: unit_test
      name: "SDK: dev; PKG: scratch_space; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="scratch_space"
      script: ./tool/travis.sh command_2
    - stage: unit_test
      name: "SDK: dev; PKG: scratch_space; TASKS: `pub run build_runner test -- --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="scratch_space"
      script: ./tool/travis.sh command_2
    - stage: e2e_test
      name: "SDK: dev; PKG: _test; TASKS: `pub run test --total-shards 2 --shard-index 0 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="_test"
      script: ./tool/travis.sh test_00
    - stage: e2e_test
      name: "SDK: dev; PKG: _test; TASKS: `pub run test --total-shards 2 --shard-index 1 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="_test"
      script: ./tool/travis.sh test_01
    - stage: e2e_test
      name: "SDK: dev; PKG: _test; TASKS: `pub run test --total-shards 3 --shard-index 0 --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh test_02
    - stage: e2e_test
      name: "SDK: dev; PKG: _test; TASKS: `pub run test --total-shards 3 --shard-index 1 --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh test_03
    - stage: e2e_test
      name: "SDK: dev; PKG: _test; TASKS: `pub run test --total-shards 3 --shard-index 2 --test-randomize-ordering-seed=random`"
      dart: dev
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh test_04
    - stage: e2e_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -t integration --total-shards 5 --shard-index 0 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_07
    - stage: e2e_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -t integration --total-shards 5 --shard-index 1 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_08
    - stage: e2e_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -t integration --total-shards 5 --shard-index 2 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_09
    - stage: e2e_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -t integration --total-shards 5 --shard-index 3 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_10
    - stage: e2e_test
      name: "SDK: dev; PKG: build_runner; TASKS: `pub run test -t integration --total-shards 5 --shard-index 4 --test-randomize-ordering-seed=random`"
      dart: dev
      os: linux
      env: PKGS="build_runner"
      script: ./tool/travis.sh test_11
    - stage: e2e_test_cron
      name: "SDK: be/raw/latest; PKG: _test; TASKS: `pub run test`"
      dart: be/raw/latest
      os: linux
      env: PKGS="_test"
      script: ./tool/travis.sh test_05
    - stage: e2e_test_cron
      name: "SDK: be/raw/latest; PKG: _test; TASKS: `pub run test`"
      dart: be/raw/latest
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh test_05
    - stage: e2e_test_cron
      name: "SDK: dev; PKG: _test; TASKS: `pub run test`"
      dart: dev
      os: linux
      env: PKGS="_test"
      script: ./tool/travis.sh test_05
    - stage: e2e_test_cron
      name: "SDK: dev; PKG: _test; TASKS: `pub run test`"
      dart: dev
      os: windows
      env: PKGS="_test"
      script: ./tool/travis.sh test_05

stages:
  - analyze_and_format
  - unit_test
  - e2e_test
  - name: e2e_test_cron
    if: "type IN (api, cron)"

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
    - build/.dart_tool/build
    - build_config/.dart_tool/build
    - build_modules/.dart_tool/build
    - build_resolvers/.dart_tool/build
    - build_test/.dart_tool/build
    - scratch_space/.dart_tool/build
