# Created with https://github.com/dart-lang/mono_repo
language: dart

####################
# Begin hand edits #
####################
sudo: required
addons:
  chrome: stable

after_failure:
 - tool/report_failure.sh
##################
# End hand edits #
##################

jobs:
  include:
    - stage: analyze_and_format
      script: ./tool/travis.sh dartanalyzer
      env: PKG="_test"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_0
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_00
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_01
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_02
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_03
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_04
      env: PKG="_test"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_05
      env: PKG="_test"
      dart: dev
    - stage: e2e_test_cron
      script: ./tool/travis.sh test_06
      env: PKG="_test"
      dart: be/raw/latest
    - stage: analyze_and_format
      script: ./tool/travis.sh dartanalyzer
      env: PKG="_test_common"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="bazel_codegen"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_1
      env: PKG="bazel_codegen"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_1
      env: PKG="build"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_config"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_2
      env: PKG="build_config"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_modules"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_3
      env: PKG="build_modules"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_resolvers"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_1
      env: PKG="build_resolvers"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_runner"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_07
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_08
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_09
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_10
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      script: ./tool/travis.sh test_11
      env: PKG="build_runner"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_runner_core"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_06
      env: PKG="build_runner_core"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_test"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_1
      env: PKG="build_test"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_vm_compilers"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_06
      env: PKG="build_vm_compilers"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_web_compilers"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_12 test_13
      env: PKG="build_web_compilers"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="example"
      dart: dev
    - stage: analyze_and_format
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="scratch_space"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_06
      env: PKG="scratch_space"
      dart: dev

stages:
  - analyze_and_format
  - unit_test
  - e2e_test
  - name: e2e_test_cron
    if: type IN (api, cron)

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
    - $HOME/.pub-cache
    - bazel_codegen/.dart_tool/build
    - build/.dart_tool/build
    - build_config/.dart_tool/build
    - build_modules/.dart_tool/build
    - build_resolvers/.dart_tool/build
    - build_test/.dart_tool/build
