# Created with https://github.com/dart-lang/mono_repo
language: dart

# Handcoded, need to update mono_repo to be able to include this. Based on
# https://github.com/travis-ci/travis-ci/issues/6683#issuecomment-251938932.
sudo: required
dist: trusty

jobs:
  include:
    - &analyze-and-format
      stage: analyze/format
      dart: dev
      script: ./tool/travis.sh dartanalyzer dartfmt
    - <<: *analyze-and-format
      env: PKG="build"
    - <<: *analyze-and-format
      env: PKG="build_barback"
    - <<: *analyze-and-format
      env: PKG="build_config"
    - <<: *analyze-and-format
      env: PKG="build_resolvers"
    - <<: *analyze-and-format
      env: PKG="build_runner"
    - <<: *analyze-and-format
      env: PKG="build_test"
    - <<: *analyze-and-format
      env: PKG="build_web_compilers"
    - <<: *analyze-and-format
      script: ./tool/travis.sh dartanalyzer
      env: PKG="e2e_example"
    - <<: *analyze-and-format
      env: PKG="scratch_space"
    - &unit-test
      stage: unit test
      script: ./tool/travis.sh test_0
      dart: dev
    - <<: *unit-test
      env: PKG="build"
    - <<: *unit-test
      env: PKG="build"
      dart: stable
    - <<: *unit-test
      env: PKG="build_barback"
    - <<: *unit-test
      env: PKG="build_barback"
      dart: stable
    - <<: *unit-test
      env: PKG="build_config"
    - <<: *unit-test
      env: PKG="build_config"
      dart: stable
    - <<: *unit-test
      env: PKG="build_resolvers"
    - <<: *unit-test
      env: PKG="build_resolvers"
      dart: stable
    - <<: *unit-test
      env: PKG="build_runner"
    - <<: *unit-test
      env: PKG="build_test"
    - <<: *unit-test
      env: PKG="build_test"
      dart: stable
    - <<: *unit-test
      script: ./tool/travis.sh test_1
      env: PKG="build_web_compilers"
    - <<: *unit-test
      env: PKG="scratch_space"
    - <<: *unit-test
      env: PKG="scratch_space"
      dart: stable
    - stage: e2e_test
      script: ./tool/travis.sh test_0
      env: PKG="e2e_example"
      dart: dev

stages:
  - analyze_and_format
  - unit_test
  - e2e_test
  # Hack to remove the default stage
  - name: test
    if: branch = fake_branch

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
 directories:
   - $HOME/.pub-cache

# Handcoded, need to update mono_repo to be able to include this. Based on
# https://github.com/travis-ci/travis-ci/issues/6683#issuecomment-251938932.
before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sudo apt-get update
 - sudo apt-get install -y libappindicator1 fonts-liberation
 - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
 - sudo dpkg -i google-chrome*.deb
 - "t=0; until (xdpyinfo -display :99 &> /dev/null || test $t -gt 10); do sleep 1; let t=$t+1; done"
