# Created with package:mono_repo v1.2.1
language: dart

# Custom configuration
sudo: required
addons:
  chrome: stable
after_failure:
  - tool/report_failure.sh

jobs:
  include:
    - stage: analyze_and_format
      name: "SDK: stable - DIR: _test - TASKS: dartanalyzer --fatal-infos --fatal-warnings ."
      script: ./tool/travis.sh dartanalyzer
      env: PKG="_test"
      dart: stable
    - stage: unit_test
      name: "SDK: stable - DIR: _test - TASKS: [pub run build_runner test -- -p chrome, pub run build_runner test -- -p vm test/config_specific_import_test.dart]"
      script: ./tool/travis.sh command_0 command_1
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 0"
      script: ./tool/travis.sh test_00
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 1"
      script: ./tool/travis.sh test_01
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 2"
      script: ./tool/travis.sh test_02
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 3"
      script: ./tool/travis.sh test_03
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 4"
      script: ./tool/travis.sh test_04
      env: PKG="_test"
      dart: stable
    - stage: e2e_test
      name: "SDK: stable - DIR: _test - TASKS: pub run test --total-shards 6 --shard-index 5"
      script: ./tool/travis.sh test_05
      env: PKG="_test"
      dart: stable
    - stage: e2e_test_cron
      name: "SDK: be/raw/latest - DIR: _test - TASKS: pub run test"
      script: ./tool/travis.sh test_06
      env: PKG="_test"
      dart: be/raw/latest
    - stage: e2e_test_cron
      name: "SDK: stable - DIR: _test - TASKS: pub run test"
      script: ./tool/travis.sh test_06
      env: PKG="_test"
      dart: stable
    - stage: analyze_and_format
      name: "SDK: dev - DIR: _test_common - TASKS: dartanalyzer --fatal-infos --fatal-warnings ."
      script: ./tool/travis.sh dartanalyzer
      env: PKG="_test_common"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build - TASKS: pub run build_runner test"
      script: ./tool/travis.sh command_2
      env: PKG="build"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_config - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_config"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_config - TASKS: dart $(pub run build_runner generate-build-script) test --delete-conflicting-outputs"
      script: ./tool/travis.sh command_3
      env: PKG="build_config"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_daemon - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_daemon"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_daemon - TASKS: pub run test"
      script: ./tool/travis.sh test_06
      env: PKG="build_daemon"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_modules - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_modules"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_modules - TASKS: dart $(pub run build_runner generate-build-script) test --delete-conflicting-outputs-- -P presubmit"
      script: ./tool/travis.sh command_5
      env: PKG="build_modules"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_resolvers - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_resolvers"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_resolvers - TASKS: pub run build_runner test"
      script: ./tool/travis.sh command_2
      env: PKG="build_resolvers"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_runner - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_runner"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_runner - TASKS: pub run test -x integration"
      script: ./tool/travis.sh test_07
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      name: "SDK: dev - DIR: build_runner - TASKS: pub run test -t integration --total-shards 4 --shard-index 0"
      script: ./tool/travis.sh test_08
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      name: "SDK: dev - DIR: build_runner - TASKS: pub run test -t integration --total-shards 4 --shard-index 1"
      script: ./tool/travis.sh test_09
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      name: "SDK: dev - DIR: build_runner - TASKS: pub run test -t integration --total-shards 4 --shard-index 2"
      script: ./tool/travis.sh test_10
      env: PKG="build_runner"
      dart: dev
    - stage: e2e_test
      name: "SDK: dev - DIR: build_runner - TASKS: pub run test -t integration --total-shards 4 --shard-index 3"
      script: ./tool/travis.sh test_11
      env: PKG="build_runner"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_runner_core - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_runner_core"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_runner_core - TASKS: pub run test"
      script: ./tool/travis.sh test_06
      env: PKG="build_runner_core"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_test - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_test"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_test - TASKS: pub run build_runner test"
      script: ./tool/travis.sh command_2
      env: PKG="build_test"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_vm_compilers - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_vm_compilers"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_vm_compilers - TASKS: pub run test"
      script: ./tool/travis.sh test_06
      env: PKG="build_vm_compilers"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: build_web_compilers - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="build_web_compilers"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: build_web_compilers - TASKS: [pub run test -x presubmit-only, pub run test -t presubmit-only --run-skipped]"
      script: ./tool/travis.sh test_12 test_13
      env: PKG="build_web_compilers"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: example - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="example"
      dart: dev
    - stage: analyze_and_format
      name: "SDK: dev - DIR: scratch_space - TASKS: [dartfmt -n --set-exit-if-changed ., dartanalyzer --fatal-infos --fatal-warnings .]"
      script: ./tool/travis.sh dartfmt dartanalyzer
      env: PKG="scratch_space"
      dart: dev
    - stage: unit_test
      name: "SDK: dev - DIR: scratch_space - TASKS: pub run build_runner test"
      script: ./tool/travis.sh command_2
      env: PKG="scratch_space"
      dart: dev

stages:
  - analyze_and_format
  - unit_test
  - e2e_test
  - name: e2e_test_cron
    if: "type IN (api, cron)"

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
    - build/.dart_tool/build
    - build_config/.dart_tool/build
    - build_modules/.dart_tool/build
    - build_resolvers/.dart_tool/build
    - build_test/.dart_tool/build
    - scratch_space/.dart_tool/build
