name: build
version: 0.2.0
description: A build system for Dart.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/build

environment:
  sdk: '>=1.9.1 <2.0.0'

dependencies:
  analyzer: ^0.27.1
  barback: ^0.15.0
  code_transformers: ^0.4.1
  crypto: 0.9.1
  logging: ^0.11.2
  glob: ^1.1.0
  path: ^1.1.0
  shelf: ^0.6.5
  shelf_static: ^0.2.3
  source_maps: '>=0.9.4 <0.11.0'
  source_span: '>=1.0.0 <2.0.0'
  stack_trace: ^1.6.0
  watcher: ^0.9.7
  yaml: ^2.1.0

dev_dependencies:
  test: ^0.12.0
  transformer_test: ^0.2.0
