name: build_web_compilers
<<<<<<< HEAD
version: 0.3.3
=======
version: 0.3.4-dev
>>>>>>> master
description: Builder implementations wrapping Dart compilers.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/dart-lang/build/tree/master/build_web_compilers

environment:
  sdk: '>=1.22.1 <2.0.0'

dependencies:
  analyzer: ">=0.30.0 <0.32.0"
  bazel_worker: ^0.1.4
  build: ^0.12.0
  build_config: ^0.2.1
  build_modules: ^0.2.0
  cli_util: ^0.1.2
  logging: ^0.11.2
  path: ^1.4.2
  scratch_space: ^0.0.1

dev_dependencies:
  build_runner: ^0.7.0
  build_test: ^0.10.0
  test: ^0.12.24
  a:
    path: test/fixtures/a
  b:
    path: test/fixtures/b
