name: build_web_compilers
version: 3.2.2
description: Builder implementations wrapping Dart compilers.
repository: https://github.com/dart-lang/build/tree/master/build_web_compilers

environment:
  sdk: ">=2.14.0-216.0.dev <3.0.0"

dependencies:
  analyzer: ">=1.0.0 <4.0.0"
  archive: ^3.0.0
  bazel_worker: ^1.0.0
  build: ^2.0.0
  build_config: ^1.0.0
  build_modules: ^4.0.0
  collection: ^1.15.0
  glob: ^2.0.0
  js: ^0.6.3
  logging: ^1.0.0
  path: ^1.8.0
  pool: ^1.5.0
  scratch_space: ^1.0.0
  source_maps: ^0.10.10
  source_span: ^1.8.0
  stack_trace: ^1.10.0

dev_dependencies:
  build_runner: ^2.0.0
  build_test: ^2.0.0
  lints: ^1.0.0
  test: ^1.16.0
  a:
    path: test/fixtures/a
  b:
    path: test/fixtures/b
