name: build_web_compilers
version: 4.0.5
description: Builder implementations wrapping the dart2js and DDC compilers.
repository: https://github.com/dart-lang/build/tree/master/build_web_compilers

environment:
  sdk: '>=3.0.0 <3.3.0'

dependencies:
  analyzer: '>=5.1.0 <7.0.0'
  archive: ^3.0.0
  bazel_worker: ^1.0.0
  build: ^2.0.0
  build_config: ^1.0.0
  build_modules: ^5.0.0
  collection: ^1.15.0
  glob: ^2.0.0
  js: ^0.6.3
  logging: ^1.0.0
  path: ^1.8.0
  pool: ^1.5.0
  scratch_space: ^1.0.0
  source_maps: ^0.10.10
  source_span: ^1.8.0
  stack_trace: ^1.10.0

dev_dependencies:
  a:
    path: test/fixtures/a
  b:
    path: test/fixtures/b
  build_runner: ^2.0.0
  build_test: ^2.0.0
  dart_flutter_team_lints: ^2.0.0
  test: ^1.16.0
