name: build_web_compilers
version: 2.13.0-dev
description: Builder implementations wrapping Dart compilers.
homepage: https://github.com/dart-lang/build/tree/master/build_web_compilers

environment:
  sdk: ">=2.10.0-93.0.dev <3.0.0"

dependencies:
  analyzer: ">=0.36.4 <0.41.0"
  archive: ^2.0.0
  bazel_worker: ^0.1.18
  build: ">=1.5.0 <2.0.0"
  build_config: ">=0.3.0 <0.5.0"
  build_modules: ^2.11.0
  collection: ^1.0.0
  glob: ^1.1.0
  js: ^0.6.1
  logging: ^0.11.2
  meta: ^1.1.0
  path: ^1.4.2
  pool: ^1.3.0
  scratch_space: ^0.0.2
  source_maps: ^0.10.4
  source_span: ^1.4.0
  stack_trace: ^1.9.2

dev_dependencies:
  build_runner: ^1.0.0
  build_test: ^1.0.0
  test: ^1.0.0
  a:
    path: test/fixtures/a
  b:
    path: test/fixtures/b

dependency_overrides:
  build_modules:
    path: ../build_modules
  build_resolvers:
    path: ../build_resolvers
  build:
    path: ../build
