name: build_web_compilers
version: 4.3.2
description: Builder implementations wrapping the dart2js and DDC compilers.
repository: https://github.com/dart-lang/build/tree/master/build_web_compilers
resolution: workspace

environment:
  sdk: '>=3.7.0 <3.11.0-z'

dependencies:
  analyzer: '>=5.1.0 <9.0.0'
  archive: '>=3.0.0 <5.0.0'
  bazel_worker: ^1.0.0
  build: '>=2.0.0 <5.0.0'
  build_modules: ^5.0.0
  collection: ^1.15.0
  glob: ^2.0.0
  logging: ^1.0.0
  path: ^1.8.0
  pool: ^1.5.0
  scratch_space: ^1.0.0
  source_maps: ^0.10.10
  source_span: ^1.8.0
  stack_trace: ^1.10.0

dev_dependencies:
  a:
    path: ../build_modules/test/fixtures/a
  b:
    path: ../build_modules/test/fixtures/b
  build_runner: ^2.0.0
  build_test: ^3.0.0
  c:
    path: test/fixtures/c
  d:
    path: test/fixtures/d
  dart_flutter_team_lints: ^3.1.0
  test: ^1.16.0
  yaml: ^3.1.0

topics:
 - build-runner
