# Created with package:mono_repo v5.0.5
name: Dart CI
on:
  push:
    branches:
      - main
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v2.4.0
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 5.0.5
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyze_format; linux; Dart 2.12.0; PKG: source_gen; `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:source_gen;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:source_gen
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart analyze
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart analyze
  job_003:
    name: "analyze_format; linux; Dart dev; PKGS: _test_annotations, example, example_usage, source_gen; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:_test_annotations-example-example_usage-source_gen;commands:format-analyze_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:_test_annotations-example-example_usage-source_gen
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: _test_annotations_pub_upgrade
        name: _test_annotations; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: _test_annotations
        run: dart pub upgrade
      - name: "_test_annotations; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps._test_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: _test_annotations
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "_test_annotations; dart analyze --fatal-infos ."
        if: "always() && steps._test_annotations_pub_upgrade.conclusion == 'success'"
        working-directory: _test_annotations
        run: dart analyze --fatal-infos .
      - id: example_pub_upgrade
        name: example; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: example
        run: dart pub upgrade
      - name: "example; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.example_pub_upgrade.conclusion == 'success'"
        working-directory: example
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "example; dart analyze --fatal-infos ."
        if: "always() && steps.example_pub_upgrade.conclusion == 'success'"
        working-directory: example
        run: dart analyze --fatal-infos .
      - id: example_usage_pub_upgrade
        name: example_usage; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: example_usage
        run: dart pub upgrade
      - name: "example_usage; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.example_usage_pub_upgrade.conclusion == 'success'"
        working-directory: example_usage
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "example_usage; dart analyze --fatal-infos ."
        if: "always() && steps.example_usage_pub_upgrade.conclusion == 'success'"
        working-directory: example_usage
        run: dart analyze --fatal-infos .
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: "source_gen; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "source_gen; dart analyze --fatal-infos ."
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart analyze --fatal-infos .
  job_004:
    name: "analyze_format; windows; Dart 2.12.0; PKG: source_gen; `dart analyze`"
    runs-on: windows-latest
    steps:
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart analyze
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart analyze
  job_005:
    name: "analyze_format; windows; Dart dev; PKG: source_gen; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: windows-latest
    steps:
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: "source_gen; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "source_gen; dart analyze --fatal-infos ."
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart analyze --fatal-infos .
  job_006:
    name: "unit_test; linux; Dart 2.12.0; PKG: example_usage; `dart test --run-skipped`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:example_usage;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:example_usage
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: example_usage_pub_upgrade
        name: example_usage; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: example_usage
        run: dart pub upgrade
      - name: "example_usage; dart test --run-skipped"
        if: "always() && steps.example_usage_pub_upgrade.conclusion == 'success'"
        working-directory: example_usage
        run: dart test --run-skipped
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_007:
    name: "unit_test; linux; Dart 2.12.0; PKG: source_gen; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:source_gen;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:source_gen
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart test
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_008:
    name: "unit_test; linux; Dart dev; PKG: example_usage; `dart test --run-skipped`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:example_usage;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:example_usage
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: example_usage_pub_upgrade
        name: example_usage; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: example_usage
        run: dart pub upgrade
      - name: "example_usage; dart test --run-skipped"
        if: "always() && steps.example_usage_pub_upgrade.conclusion == 'success'"
        working-directory: example_usage
        run: dart test --run-skipped
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_009:
    name: "unit_test; linux; Dart dev; PKG: source_gen; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.7
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:source_gen;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:source_gen
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart test
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_010:
    name: "unit_test; windows; Dart 2.12.0; PKG: source_gen; `dart test`"
    runs-on: windows-latest
    steps:
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart test
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
  job_011:
    name: "unit_test; windows; Dart dev; PKG: source_gen; `dart test`"
    runs-on: windows-latest
    steps:
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.4.0
      - id: source_gen_pub_upgrade
        name: source_gen; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: source_gen
        run: dart pub upgrade
      - name: source_gen; dart test
        if: "always() && steps.source_gen_pub_upgrade.conclusion == 'success'"
        working-directory: source_gen
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
