name: _test_null_safety
publish_to: none

environment:
  sdk: ">=2.12.0-0 <3.0.0"

dev_dependencies:
  js: ^0.6.3-nullsafety
  test: ^1.16.0-nullsafety

dependency_overrides:
  analyzer: ^0.42.0-nullsafety.0 # pkg:test doesn't support the latest analyzer yet
  build:
    path: ../build
  build_config:
    path: ../build_config
  build_daemon:
    path: ../build_daemon
  build_modules:
    path: ../build_modules
  build_resolvers:
    path: ../build_resolvers
  build_runner:
    path: ../build_runner
  build_runner_core:
    path: ../build_runner_core
  build_test:
    path: ../build_test
  build_vm_compilers:
    path: ../build_vm_compilers
  build_web_compilers:
    path: ../build_web_compilers
  scratch_space:
    path: ../scratch_space
