name: Community tests
on:
  pull_request:
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  drift:
    # Tests maintained by oss@simonbinder.eu
    name: "Tests for pkg:drift"
    runs-on: ubuntu-latest
    steps:
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: dev
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - run: dart pub get
        working-directory: tool

      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          repository: simolus3/drift
          ref: develop
          path: client_tests/drift
      - run: |-
          dart run tool/bin/patch_build_dependencies.dart client_tests/drift/drift
          cd client_tests/drift/drift
          git add pubspec.yaml
      - run: dart test --preset build_community_tests
        name: Drift community tests
        working-directory: client_tests/drift/drift
