name: Health
on:
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  health:
    uses: dart-lang/ecosystem/.github/workflows/health.yaml@main
    with:
      checks: "version,changelog,do-not-submit,breaking"
      fail_on: "version,changelog,do-not-submit,breaking"
      warn_on: ""
      ignore_license: "**.g.dart"
      sdk: dev
    permissions:
      pull-requests: write
