name: _test
publish_to: none
resolution: workspace

environment:
  sdk: ^3.6.0-165.0.dev

dependencies:
  web: ^1.0.0

dev_dependencies:
  analyzer: any
  build: any
  build_config: any
  build_modules: any
  build_resolvers: any
  build_runner: any
  build_runner_core: any
  build_test: any
  build_web_compilers: any
  io: ^1.0.0
  path: ^1.8.0
  provides_builder:
    path: pkgs/provides_builder/
  test: ^1.16.0
  test_process: ^2.0.0
