name: _test
description: A basic web app

environment:
  sdk: '>=2.0.0-dev.61 <2.0.0'

dev_dependencies:
  analyzer: ">=0.30.0 <0.33.0"
  path: ^1.4.2
  test: ^0.12.0
  provides_builder:
    path: pkgs/provides_builder/

dependency_overrides:
  build:
    path: ../build
  build_config:
    path: ../build_config
  build_modules:
    path: ../build_modules
  build_resolvers:
    path: ../build_resolvers
  build_runner:
    path: ../build_runner
  build_runner_core:
    path: ../build_runner_core
  build_test:
    path: ../build_test
  build_vm_compilers:
    path: ../build_vm_compilers
  build_web_compilers:
    path: ../build_web_compilers
  scratch_space:
    path: ../scratch_space
