name: _test
publish_to: none

environment:
  sdk: ^3.4.0

dev_dependencies:
  analyzer: any
  build: any
  build_config: any
  build_modules: any
  build_resolvers: any
  build_runner: any
  build_runner_core: any
  build_test: any
  build_web_compilers: any
  dart_flutter_team_lints: ^3.1.0
  io: ^1.0.0
  path: ^1.8.0
  provides_builder:
    path: pkgs/provides_builder/
  test: ^1.16.0
  test_process: ^2.0.0

dependency_overrides:
  build:
    path: ../build
  build_config:
    path: ../build_config
  build_daemon:
    path: ../build_daemon
  build_modules:
    path: ../build_modules
  build_resolvers:
    path: ../build_resolvers
  build_runner:
    path: ../build_runner
  build_runner_core:
    path: ../build_runner_core
  build_test:
    path: ../build_test
  build_web_compilers:
    path: ../build_web_compilers
  scratch_space:
    path: ../scratch_space
